<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
    	<title>Order</title>
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
		
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		
		<script th:inline="javascript">
		/*<![CDATA[*/
		    // retrieve from server and set digitalData var
			var digitalData = JSON.parse([[${digitalData}]]);
			
			// make client-side updates to digitalData
			digitalData.page.pageInfo.destinationURL = document.location.toString();
			digitalData.page.pageInfo.referringURL = document.referrer.toString();
			digitalData.page.pageInfo.breadcrumbs = document.location.pathname.split('/');
		/*]]>*/	
		</script>
		
		<script type="text/javascript" th:src="${'//nexus.ensighten.com/'+ensManAccountId+'/'+ensManPublishPath+'/Bootstrap.js'}"></script>
	</head>
	<body>
		<div th:replace="header :: header">&nbsp;</div>
		
		<div class="jumbotron"></div>
		
    	<div class="container" th:if="${order != null and order.getOrderItems().size() > 0}">

			<h1>Order Complete</h1>
    		<p>Order Id: <span th:text="${order.id}"></span></p>
    		<p>Base Price: <span th:text="${order.basePrice}"></span></p>
    		<p>Voucher Code: <span th:text="${order.voucherCode}"></span></p>
    		<p>Voucher Discount: <span th:text="${order.voucherDiscount}"></span></p>
    		<p>Currency: <span th:text="${order.currency}"></span></p>
    		<p>Tax Rate: <span th:text="${order.taxRate}"></span></p>
    		<p>Shipping: <span th:text="${order.shipping}"></span></p>
    		<p>Shipping Method: <span th:text="${order.shippingMethod}"></span></p>
    		<p>Price with Tax: <span th:text="${order.priceWithTax}"></span></p>
    		<p><em>Order Total: <span th:text="${order.orderTotal}"></span></em></p>
    		
    		<div class="row" th:each="item : ${order.getOrderItems()}">
		        <div class="col-md-4">
		          <h2><span th:text="${item.name}"></span></h2>
		          <img th:src="${item.thumbnailUrl}" height="50" />
		          <p>price: <span th:text="${item.price}"></span></p>
		          <p>quantity <span th:text="${item.quantity}"></span></p>
		          <p>sku: <span th:text="${item.sku}"></span></p>
		          <p><a th:href="'/products/'+${item.id}" role="button">View details &raquo;</a></p>
		        </div>
	    	</div>
	    	
	    	<hr>
	    	
	    	<a href="/">Home</a>
	    	
	      	<div th:replace="footer :: footer">&nbsp;</div>
    	</div>
    	<div class="container" th:if="${order == null or order.getOrderItems().size() == 0}">
    		<div class="row">
    			<div class="col-md-4">
    				<p>No items in order.</p>
    			</div>
    		</div>
    		<div th:replace="footer :: footer">&nbsp;</div>
    	</div>
		
	</body>
</html>