<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
    	<title>Products</title>
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
		
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		
		<script th:inline="javascript">
		/*<![CDATA[*/
		    // retrieve from server and set digitalData var
			var digitalData = JSON.parse([[${digitalData}]]);
			
			// make client-side updates to digitalData
			digitalData.page.pageInfo.destinationURL = document.location.toString();
			digitalData.page.pageInfo.referringURL = document.referrer.toString();
			digitalData.page.pageInfo.breadcrumbs = document.location.pathname.split('/');
		/*]]>*/	
		</script>
		
		<script type="text/javascript" th:src="${'//nexus.ensighten.com/'+ensManAccountId+'/'+ensManPublishPath+'/Bootstrap.js'}"></script>
	</head>
	<body>
		<div th:replace="header :: header">&nbsp;</div>
		
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
      		<div class="container">
        		<h1>Hello, world!</h1>
        		<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      		</div>
    	</div>

    	<div class="container">
			<div class="row" th:each="product : ${products}">
		        <div class="col-md-4">
		          <h2><span th:text="${product.name}"></span></h2>
		          <img th:src="${product.thumbnailUrl}" width="100" />
		          <p><span th:text="${product.description}"></span></p>
		          <p><a class="btn btn-default" th:href="'/products/'+${product.id}" role="button">View details &raquo;</a></p>
		        </div>
	    	</div>
	      	<div th:replace="footer :: footer">&nbsp;</div>
    	</div> <!-- /container -->
		
	</body>
</html>