<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
    	<title>Shopping Cart</title>
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
		
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		
		<script th:inline="javascript">
		/*<![CDATA[*/
			var digitalData = JSON.parse([[${digitalData}]]);
			console.log("digitalData:%o",digitalData);
		/*]]>*/	
		</script>
	</head>
	<body>
		<div th:replace="header :: header">&nbsp;</div>
		
		<div class="jumbotron"></div>
		
    	<div class="container" th:if="(${cart} != null)">

    		<p>(Cart) Id: <span th:text="${cart.id}"></span></p>
    		<p>Base Price: <span th:text="${cart.basePrice}"></span></p>
    		<p>Voucher Code: <span th:text="${cart.voucherCode}"></span></p>
    		<p>Voucher Discount: <span th:text="${cart.voucherDiscount}"></span></p>
    		<p>Currency: <span th:text="${cart.currency}"></span></p>
    		<p>Tax Rate: <span th:text="${cart.taxRate}"></span></p>
    		<p>Shipping: <span th:text="${cart.shipping}"></span></p>
    		<p>Shipping Method: <span th:text="${cart.shippingMethod}"></span></p>
    		<p>Price with Tax: <span th:text="${cart.priceWithTax}"></span></p>
    		<p>Cart Total: <span th:text="${cart.cartTotal}"></span></p>
    		
    		<div class="row" th:each="item : ${cart.getCartItems()}">
		        <div class="col-md-4">
		          <h2><span th:text="${item.name}"></span></h2>
		          <p><span th:text="${item.sku}"></span></p>
		          <img th:src="${item.thumbnailUrl}" height="50" />
		          <p><span th:text="${item.price}"></span></p>
		          <p><span th:text="${item.quantity}"></span></p>
		          <p><a class="btn btn-default" th:href="'/products/'+${item.id}" role="button">View details &raquo;</a></p>
		        </div>
	    	</div>
	      	<div th:replace="footer :: footer">&nbsp;</div>
    	</div>
    	<div class="container" th:if="${cart} == null">
    		<div class="row">
    			<div class="col-md-4">
    				<p>No items in cart.</p>
    			</div>
    		</div>
    		<div th:replace="footer :: footer">&nbsp;</div>
    	</div>
		
	</body>
</html>